#hero {
  height: 800px;
  background-image: url("images/ocean.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  width: 700px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
  text-align: center;
  border-radius: 8px;
  color: white;
}

#hero-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  margin-bottom: 16px;
}

#hero-content p {
  margin-bottom: 24px;
  font-size: 20px;
}

#hero-content a {
  padding: 12px 24px;
  background-color: #f8e16c;
  color: black;
  font-weight: bold;
  border-radius: 4px;
}

#highlights {
  background-color: #c7e5e8;
  padding: 80px 0;
  text-align: center;
}

#highlights h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

#destinations {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.destination {
  width: 400px;
}

.destination img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
}

.destination p {
  margin-top: 12px;
  font-weight: 500;
}

.destination strong {
  color: #008000;
}